.neonBtn {
    
    
    padding: 10px;
    
  }

  .neonBtn-easy {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    margin: 12px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing-easy 1500ms infinite;
    -moz-animation: glowing-easy 1500ms infinite;
    -o-animation: glowing-easy 1500ms infinite;
    animation: glowing-easy 1500ms infinite;
  }
  @-webkit-keyframes glowing-easy {
    0% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
    50% { background-color: #3cff00; -webkit-box-shadow: 0 0 5px #3cff00; }
    100% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
  }
  
  @-moz-keyframes glowing-easy {
    0% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
    50% { background-color: #3cff00; -webkit-box-shadow: 0 0 5px #3cff00; }
    100% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
  }
  
  @-o-keyframes glowing-easy {
    0% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
    50% { background-color: #3cff00; -webkit-box-shadow: 0 0 5px #3cff00; }
    100% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
  }
  
  @keyframes glowing-easy {
    0% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
    50% { background-color: #3cff00; -webkit-box-shadow: 0 0 5px #3cff00; }
    100% { background-color: #00b218; -webkit-box-shadow: 0 0 1px #00b218; }
  }


  .neonBtn-hrd {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    margin: 12px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing-hrd 1500ms infinite;
    -moz-animation: glowing-hrd 1500ms infinite;
    -o-animation: glowing-hrd 1500ms infinite;
    animation: glowing-hrd 1500ms infinite;
  }
  @-webkit-keyframes glowing-hrd {
    0% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
    50% { background-color: #ffb52c; -webkit-box-shadow: 0 0 5px #ffb52c; }
    100% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
  }
  
  @-moz-keyframes glowing-hrd {
    0% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
    50% { background-color: #ffb52c; -webkit-box-shadow: 0 0 5px #ffb52c; }
    100% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
  }
  
  @-o-keyframes glowing-hrd {
    0% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
    50% { background-color: #ffb52c; -webkit-box-shadow: 0 0 5px #ffb52c; }
    100% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
  }
  
  @keyframes glowing-hrd {
    0% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
    50% { background-color: #ffb52c; -webkit-box-shadow: 0 0 5px #ffb52c; }
    100% { background-color: #e48100; -webkit-box-shadow: 0 0 1px #e48100; }
  }

  .Winner{
    font-family: neon;
    font-size: 70px;
    color: #FFFFFF;
    border: 4px green solid;
    
    -webkit-animation: glowing-easy 1500ms infinite;
    -moz-animation: glowing-easy 1500ms infinite;
    -o-animation: glowing-easy 1500ms infinite;
    animation: glowing-easy 1500ms infinite;
  }

